# Pandas and stat

เราจะใช้pandasกับสถิตินิดหน่อยในการอธิบายข้อมูลตารางที่เราได้มา

In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv('https://raw.githubusercontent.com/prasertcbs/tutorial/master/mpg.csv')
df.head()

  manufacturer model  displ  year  cyl       trans drv  cty  hwy fl    class
0         audi    a4    1.8  1999    4    auto(l5)   f   18   29  p  compact
1         audi    a4    1.8  1999    4  manual(m5)   f   21   29  p  compact
2         audi    a4    2.0  2008    4  manual(m6)   f   20   31  p  compact
3         audi    a4    2.0  2008    4    auto(av)   f   21   30  p  compact
4         audi    a4    2.8  1999    6    auto(l5)   f   16   26  p  compact

In [ ]:
df.tail()

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
229,volkswagen,passat,2.0,2008,4,auto(s6),f,19,28,p,midsize
230,volkswagen,passat,2.0,2008,4,manual(m6),f,21,29,p,midsize
231,volkswagen,passat,2.8,1999,6,auto(l5),f,16,26,p,midsize
232,volkswagen,passat,2.8,1999,6,manual(m5),f,18,26,p,midsize
233,volkswagen,passat,3.6,2008,6,auto(s6),f,17,26,p,midsize

In [ ]:
df.shape

(234, 11)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 234 entries, 0 to 233
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   manufacturer  234 non-null    object
 1   model         234 non-null    object
 2   displ         234 non-null    float64
 3   year          234 non-null    int64
 4   cyl           234 non-null    int64
 5   trans         234 non-null    object
 6   drv           234 non-null    object
 7   cty           234 non-null    int64
 8   hwy           234 non-null    int64
 9   fl            234 non-null    object
 10  class         234 non-null    object
dtypes: float64(1), int64(4), object(6)
memory usage: 20.2+ KB

In [ ]:
df.sample(20)

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
24,chevrolet,corvette,5.7,1999,8,auto(l4),r,15,23,p,2seater
163,subaru,forester awd,2.5,2008,4,auto(l4),4,20,26,r,suv
159,subaru,forester awd,2.5,1999,4,manual(m5),4,18,25,r,suv
168,subaru,impreza awd,2.5,1999,4,auto(l4),4,19,26,r,subcompact
154,pontiac,grand prix,3.1,1999,6,auto(l4),f,18,26,r,midsize
18,chevrolet,c1500 suburban 2wd,5.3,2008,8,auto(l4),r,14,20,r,suv
190,toyota,camry solara,3.0,1999,6,auto(l4),f,18,26,r,compact
156,pontiac,grand prix,3.8,1999,6,auto(l4),f,17,27,r,midsize
172,subaru,impreza awd,2.5,2008,4,manual(m5),4,20,27,r,compact
139,mercury,mountaineer 4wd,4.6,2008,8,auto(l6),4,13,19,r,suv
20,chevrolet,c1500 suburban 2wd,5.3,2008,8,auto(l4),r,14,20,r,suv
169,subaru,impreza awd,2.5,2008,4,auto(s4),4,20,25,p,compact
178,toyota,4runner 4wd,4.7,2008,8,auto(l5),4,14,17,r,suv
196,toyota,corolla,1.8,2008,4,manual(m5),f,28,37,r,compact
181,toyota,camry,2.4,2008,4,manual(m5),f,21,31,r,midsize
162,subaru,forester awd,2.5,2008,4,manual(m5),4,19,25,p,suv
197,toyota,corolla,1.8,2008,4,auto(l4),f,26,35,r,compact
38,dodge,caravan 2wd,3.0,1999,6,auto(l4),f,17,24,r,minivan
15,audi,a6 quattro,2.8,1999,6,auto(l5),4,15,24,p,midsize
155,pontiac,grand prix,3.8,1999,6,auto(l4),f,16,26,p,midsize

In [ ]:
df.mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

displ       3.471795
year     2003.500000
cyl         5.888889
cty        16.858974
hwy        23.440171
dtype: float64

In [ ]:
df.median()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

displ       3.3
year     2003.5
cyl         6.0
cty        17.0
hwy        24.0
dtype: float64

In [ ]:
df.manufacturer.value_counts()

dodge         37
toyota        34
volkswagen    27
ford          25
chevrolet     19
audi          18
hyundai       14
subaru        14
nissan        13
honda          9
jeep           8
pontiac        5
land rover     4
mercury        4
lincoln        3
Name: manufacturer, dtype: int64

In [ ]:
# df.class.value_counts()

In [ ]:
df['class'].value_counts()

suv           62
compact       47
midsize       41
subcompact    35
pickup        33
minivan       11
2seater        5
Name: class, dtype: int64

In [ ]:
df.describe()

            displ         year         cyl         cty         hwy
count  234.000000   234.000000  234.000000  234.000000  234.000000
mean     3.471795  2003.500000    5.888889   16.858974   23.440171
std      1.291959     4.509646    1.611534    4.255946    5.954643
min      1.600000  1999.000000    4.000000    9.000000   12.000000
25%      2.400000  1999.000000    4.000000   14.000000   18.000000
50%      3.300000  2003.500000    6.000000   17.000000   24.000000
75%      4.600000  2008.000000    8.000000   19.000000   27.000000
max      7.000000  2008.000000    8.000000   35.000000   44.000000

In [ ]:
df.describe().T

       count         mean       std     min     25%     50%     75%     max
displ  234.0     3.471795  1.291959     1.6     2.4     3.3     4.6     7.0
year   234.0  2003.500000  4.509646  1999.0  1999.0  2003.5  2008.0  2008.0
cyl    234.0     5.888889  1.611534     4.0     4.0     6.0     8.0     8.0
cty    234.0    16.858974  4.255946     9.0    14.0    17.0    19.0    35.0
hwy    234.0    23.440171  5.954643    12.0    18.0    24.0    27.0    44.0

In [ ]:
df.corr() # ใช้corrในการหาความสัมพันธ์ของข้อมูลแต่ละcollumnถ้ามีความเชื่อมโยงกันแบบแปรผันตรงยิ่งมากเท่าไหร่จะมีค่าเข้าใกล้1 ถ้าแปรผกผันจะใกล้-1 ถ้าเป็น0คือไม่มีความสัมพันธ์

          displ      year       cyl       cty       hwy
displ  1.000000  0.147843  0.930227 -0.798524 -0.766020
year   0.147843  1.000000  0.122245 -0.037232  0.002158
cyl    0.930227  0.122245  1.000000 -0.805771 -0.761912
cty   -0.798524 -0.037232 -0.805771  1.000000  0.955916
hwy   -0.766020  0.002158 -0.761912  0.955916  1.000000

In [ ]:
df.nlargest(5, columns='cty') # เรียงลำดับแถวในctyที่มีค่ามากที่สุด5ตัวแรก

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
221,volkswagen,new beetle,1.9,1999,4,manual(m5),f,35,44,d,subcompact
212,volkswagen,jetta,1.9,1999,4,manual(m5),f,33,44,d,compact
222,volkswagen,new beetle,1.9,1999,4,auto(l4),f,29,41,d,subcompact
99,honda,civic,1.6,1999,4,manual(m5),f,28,33,r,subcompact
196,toyota,corolla,1.8,2008,4,manual(m5),f,28,37,r,compact

In [ ]:
df.nsmallest(5, columns='hwy') # เรียงลำดับแถวในhwyที่มีค่าน้อยที่สุด5ตัวแรก

,manufacturer,model,displ,year,cyl,trans,drv,cty,hwy,fl,class
54,dodge,dakota pickup 4wd,4.7,2008,8,auto(l5),4,9,12,e,pickup
59,dodge,durango 4wd,4.7,2008,8,auto(l5),4,9,12,e,suv
65,dodge,ram 1500 pickup 4wd,4.7,2008,8,auto(l5),4,9,12,e,pickup
69,dodge,ram 1500 pickup 4wd,4.7,2008,8,manual(m6),4,9,12,e,pickup
126,jeep,grand cherokee 4wd,4.7,2008,8,auto(l5),4,9,12,e,suv